<footer id="footer">
  <div class="container" id="footer-container">
    <div class="row justify-content-center" id="footer-row">
      <div class="col-sm-6">
        <div id="shr-footer">
          <a href="http://www.standardhealthrecord.org">
            <img src="/assets/img/shr_brand_logo.png" alt='Standard Health Record home page' id="shr-logo-footer">
          </a>
          <div id="shr-text">
            <p class="shr-title">
              The Standard Health Record Collaborative
            </p>
            <p>
              One human, one health record
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <a href="http://mcodeinitiative.org">
          <img src="/assets/img/mCODE_logo.png" width="100%" height="auto" alt="mCODE home page" id="mcode-logo">
        </a>
      </div>
      <div class="col-sm">
        <a href="http://www.mitre.org">
          <img src="/assets/img/MITRE-color.png" alt="MITRE home page" id="mitre-logo">
        </a>
      </div>
    </div>
  </div>
</footer>
